html{
	background-color: #455A64;
}
body{
	padding: 0;
	margin: 0;
}
a{
	color: #4DD0E1;
}

/* ------- Classes ------- */

.footer{
	background-color: #455A64;
	line-height: 80px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Rokkitt', serif;
	font-size: 1em;
	color: white;
}

.img-circle {
    border-radius: 50%;
	width: 30%;
	min-width: 300px; 
	min-height: 300px;
    height: auto;
}

.img-link {
	border-radius: 50%;
	background-color: #00BCD4;
	height: 40px;
    width: 40px;
    margin: 8px;
}

.img-resume {
	width: 30%;
	min-width: 60px;
	height: auto;
	margin-right: 10px;
	float: right;
	padding-top: 10px;
}

.navbar{
	overflow: hidden;
	background-color: #ECEFF1;
	position: fixed; 
    top: 0; 
    width: 100%; 
	z-index: 9999;
}

.line-breaker{
	background-color: #7a7a75;
	height: 2px;
	width: 100%;
	margin: 0 auto;
}

.resume-main-section{
	text-align: center;
	vertical-align: center;
	padding-top: 10px;
	font-size: 1.3em;
	margin: 0;
	padding-top: 1%;
	padding-bottom: 1%;
}

.resume-left-border{
	padding-top: 1%;
	padding-bottom: 1%;
	vertical-align: center;
	margin-top: 5%;
}

.resume-section-title{
	text-align: left;
	font-size: 1.1em;
	margin-top: 15px;
	font-family: 'Rokkitt', serif;
}

.resume-content{
	display: grid;
	grid-template-columns: 60% 40%;
	vertical-align: center;
	margin: 2%;
}

.resume-content-left{
	text-align: left;
}

.resume-content-right{
	text-align: right;
	font-style: italic;
}

.terminal-window {
	text-align: left;
	width: 75%;
	height: 100%;
	border-radius: 10px;
	margin: auto;
	position: relative;
}

.terminal-window header {
	background: #E0E8F0;
	height: 30px;
	border-radius: 8px 8px 0 0;
	padding-left: 10px;
}

.terminal-window header .button {
	width: 12px;
	height: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.terminal-window header .button.green {
	background: #3BB662;
}

.terminal-window header .button.yellow {
	background: #E5C30F;
}

.terminal-window header .button.red {
	background: #E75448;
}

.terminal-window section.terminal {
	font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
	font-size: 11pt;
	background: #30353A;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	bottom: 0;
	overflow: auto;
	border-radius: 0 0 8px 8px;
}

.terminal-window section.terminal .command {
	color: white;
	margin-left: 15px;
	display: inline-block;
}

.terminal-window section.terminal .output {
	color: #CFD8DC;
	padding-left: 20px;
	display: inline-block;
}

/* ------- ID's ------- */

#main-wrapper{
    position: absolute;
    width: 100%;
    height: 95%;
	margin-top: 45px;
}
#links-wrapper{
	display: inline;
	align-items: center;
}
#intro-wrapper{
	display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    width: 100%;
    height: 100%;
}
#profile-item-1{
	background: #607D8B;
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
}
#profile-item-2{
	background: #00BCD4;
	position: relative; 
	width: 100%;
}
#headshot-wrapper{
	width: 30%;
	min-width: 300px; 
    height: auto;
	text-align: center;
	font-size: 1.2em;
	color: #ECEFF1;
	font-family: 'Montserrat', sans-serif;
}
#headshot-details-wrapper{
	text-align: center;
	font-size: 1.2em;
	color: #ECEFF1;
	font-family: 'Montserrat', sans-serif;
}
#circle {
    background: #00BCD4;
    border-radius: 50%;
	width: 40%;
	min-width: 320px; 
	min-height: 320px;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	margin-bottom: 4%;
}
#name{
	line-height: 150%;
	font-size: 2em;
	text-align: center;
	font-family: 'Rokkitt', serif;
}
#resume-wrapper{
	position: relative;
	background-color: #D6D6CF;
	color: #3e3e3d;
	display: grid;
	grid-template-columns: 18% 64% 18%;
	padding-bottom: 4%;
}
#resume-header{
	font-style: italic;
	font-size: 1.4em;
	font-family: 'Rokkitt', serif;
	padding-top: 20px;
}
#resume-skill-wrapper{
	display: grid;
	grid-template-columns: 30% 70%;
	margin-left: 2%;
	padding-bottom: 10px;
}
#terminal-wrapper{
	position: relative;
	width: 100%;
	height: 75%;
	padding-top: 10%;
}

/* ------- media queries ------- */

@media only screen and (max-width: 515px) {
	.terminal-window section.terminal {
		font-size: 0.8em;
	}
	
	#headshot-wrapper{
		min-width: 250px;
	}
	#intro-wrapper{
		background: white;
	}
}

@media only screen and (max-width: 800px) {
	#resume-wrapper{
		grid-template-columns: 18% 77% 5%;
		font-size: 1em;
	}
	#resume-skill-wrapper{
		display: inline;
		margin-left: 2%;
		padding-bottom: 0;
	}
} 

@media only screen and (max-width: 1024px){
	#intro-wrapper{
		display: inline;
	}
	#profile-item-1{
		height: 100vh;
	}
	#profile-item-2{
		height: 100vh;
	}

	.resume-main-section{
		font-size: 1.1em;
	}
}
